{% extends 'base.html.twig' %}

{% block title %}Orders{% endblock %}

{% block body %}
    <h1>{{ 'app.order.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.order.id'|trans }}</th>
                <th>{{ 'app.order.status'|trans }}</th>
                <th>{{ 'app.order.cost'|trans }}</th>
                <th>{{ 'app.order.product'|trans }}</th>
                <th>{{ 'app.order.createdat'|trans }}</th>
                <th>{{ 'app.order.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for order in orders %}
            <tr>
                <td>{{ order.id }}</td>
                <td>{{ order.status }}</td>
                <td>{{ order.totalCost|format_currency('USD') }}</td>
                <td>{{ order.product }}</td>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_order_show', {'id': order.id}) }}">
                        {{ 'app.order.show'|trans }}</a>
                    {{ include('order/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">{{ 'app.order.not'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
