{% extends 'base.html.twig' %}

{% block title %}Order{% endblock %}

{% block body %}
    <h1>Order</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>{{ 'app.order.id'|trans }}</th>
                <td>{{ order.id }}</td>
            </tr>
            <tr>
                <th>{{ 'app.order.status'|trans }}</th>
                <td>{{ order.status }}</td>
            </tr>
            <tr>
                <th>{{ 'app.order.product'|trans }}</th>
                <td>{{ order.product }}</td>
            </tr>
            <tr>
                <th>{{ 'app.order.cost'|trans }}</th>
                <td>{{ order.totalCost|format_currency('USD') }}</td>
            </tr>
            <tr>
                <th>{{ 'app.order.createdat'|trans }}</th>
                <td>{{ order.createdAt ? order.createdAt|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_order_index') }}">{{ 'app.order.back'|trans }}</a>

    {% if order.status is same as("Registered") %}
        {{ include('order/_delete_form.html.twig') }}
    {% endif %}
{% endblock %}
