{% extends 'base.html.twig' %}

{% block title %}{{ 'page.glassstore.edit'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'app.glassstore.edit'|trans }}</h1>

    {{ include('glasses_store/_form.html.twig', {'button_label': 'Update'}) }}

    <a class="btn btn-warning" href="{{ path('app_glasses_store_index') }}">{{ 'app.glassstore.back'|trans }}</a>

    {{ include('glasses_store/_delete_form.html.twig') }}

{% endblock %}
