{% extends 'base.html.twig' %}

{% block title %}{{ 'page.glassstore.new'|trans }}{% endblock %}

{% block body %}

    <h1>{{ 'app.glassstore.create'|trans }}</h1>

    {{ include('glasses_store/_form.html.twig') }}

    <a class="btn btn-warning" href="{{ path('app_glasses_store_index') }}">{{ 'app.glassstore.back'|trans }}</a>

{% endblock %}
