{% extends 'base.html.twig' %}

{% block title %}{{ glasses_store.name }}{% endblock %}

{% block body %}
    <h1 class="mt-5">{{ glasses_store.name }}</h1>
    <img class="img-thumbnail" height="300px" width="300px" src="{{ glasses_store.imageUrl }}"
         alt="{{ glasses_store.name }}">
    <p class="h6">
        {{ 'app.glassstore.phone'|trans }}: {{ glasses_store.phone }}
    </p>
    <p class="h6 mb-5">
        {{ 'app.glassstore.address'|trans }}: {{ glasses_store.address }}
    </p>

    {% if is_granted("ROLE_SELLER") %}
        <a class="btn btn-warning" href="{{ path('app_glasses_store_edit', {'id': glasses_store.id}) }}">
            {{ 'app.glassstore.edit'|trans }}</a>
        {{ include('glasses_store/_delete_form.html.twig') }}
    {% endif %}

    <h1 class="mt-5">{{ 'app.glassstore.ourglasses'|trans }}</h1>
    {% for glasses in glasses_store.glasses %}
        <div class="card m-3 d-inline-block" style="width: 18rem;">
            <img class="card-img-top" src="{{ glasses.imageUrl }}" alt="{{ glasses.model }}">
            <div class="card-body">
                <h5 class="card-title">{{ glasses.brand }} {{ glasses.model }}</h5>
                <p class="card-text fw-bold">
                    {{ glasses.price|format_currency('USD') }}
                </p>
                <a class="btn btn-primary" href="{{ path('app_glasses_show', {'id': glasses.id}) }}">
                    {{ 'app.glassstore.showglasses'|trans }}</a>
            </div>
        </div>
    {% else %}
        <hr>
        <div>
            <h3 class="align-items-center">{{ 'app.glasses.not'|trans }}</h3>
        </div>
    {% endfor %}

    <a class="btn btn-primary" href="{{ path('app_glasses_store_index') }}">{{ 'app.glassstore.back'|trans }}</a>

{% endblock %}
