{% extends 'base.html.twig' %}

{% block title %}Glasses{% endblock %}

{% block body %}

    <h1>{{ 'app.glasses.title'|trans }}</h1>

    <table class="table">
        <thead>
            <tr>
                <th>{{ 'app.glasses.id'|trans }}</th>
                <th>{{ 'app.glasses.model'|trans }}</th>
                <th>{{ 'app.glasses.framematerial'|trans }}</th>
                <th>{{ 'app.glasses.frameform'|trans }}</th>
                <th>{{ 'app.glasses.framecolor'|trans }}</th>
                <th>{{ 'app.glasses.brand'|trans }}</th>
                <th>{{ 'app.glasses.lenzmaterial'|trans }}</th>
                <th>{{ 'app.glasses.faceform'|trans }}</th>
                <th>{{ 'app.glasses.price'|trans }}</th>
                <th>{{ 'app.glasses.description'|trans }}</th>
                <th>{{ 'app.glasses.actions'|trans }}</th>
            </tr>
        </thead>
        <tbody>
        {% for glass in glasses %}
            <tr>
                <td>{{ glass.id }}</td>
                <td>{{ glass.model }}</td>
                <td>{{ glass.frameMaterial }}</td>
                <td>{{ glass.frameForm }}</td>
                <td>{{ glass.frameColor }}</td>
                <td>{{ glass.brand }}</td>
                <td>{{ glass.lenzMaterial }}</td>
                <td>{{ glass.faceForm }}</td>
                <td>{{ glass.price|format_currency('USD') }}</td>
                <td>{{ glass.description }}</td>
                <td>
                    <a class="btn btn-primary" href="{{ path('app_glasses_show', {'id': glass.id}) }}">{{ 'app.glasses.show'|trans }}</a>
                    {% if is_granted("ROLE_SELLER") %}
                        <a class="btn btn-warning" href="{{ path('app_glasses_edit', {'id': glass.id}) }}">{{ 'app.glasses.edit'|trans }}</a>
                    {% endif %}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="10">{{ 'app.glasses.not'|trans }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    {% if is_granted("ROLE_SELLER") %}
        <a class="btn btn-primary" href="{{ path('app_glasses_new') }}">{{ 'app.hotels.create'|trans }}</a>
    {% endif %}

{% endblock %}
