{% extends 'base.html.twig' %}

{% block title %}Search for {{ query }}{% endblock %}

{% block body %}
    <h1>{{ 'app.glasses.title'|trans }}</h1>

    {% for glass in glasses %}
        <div class="card m-3 d-inline-block" style="width: 18rem;">
            <img class="card-img-top" src="{{ glass.imageUrl }}" alt="{{ glass.model }}">
            <div class="card-body">
                <h5 class="card-title">{{ glass.brand }} {{ glass.model }}</h5>
                <p class="card-text fw-bold">
                    {{ glass.price|format_currency('USD') }}
                </p>
                <a class="btn btn-primary" href="{{ path('app_glasses_show', {'id': glass.id}) }}">
                    {{ 'app.glassstore.showglasses'|trans }}</a>
            </div>
        </div>
    {% else %}
        <hr>
        <div>
            <h1>{{ 'app.glasses.not'|trans }}</h1>
        </div>
    {% endfor %}

{% endblock %}
