{% extends 'base.html.twig' %}

{% block title %}{{ glass.brand }} {{ glass.model }}{% endblock %}

{% block body %}
    <h1>{{ glass.brand }} {{ glass.model }}</h1>
    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'app.glasses.id'|trans }}</th>
            <td>{{ glass.id }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.model'|trans }}</th>
            <td>{{ glass.model }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.framematerial'|trans }}</th>
            <td>{{ glass.frameMaterial }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.frameform'|trans }}</th>
            <td>{{ glass.frameForm }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.framecolor'|trans }}</th>
            <td>{{ glass.frameColor }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.brand'|trans }}</th>
            <td>{{ glass.brand }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.lenzmaterial'|trans }}</th>
            <td>{{ glass.lenzMaterial }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.faceform'|trans }}</th>
            <td>{{ glass.faceForm }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.price'|trans }}</th>
            <td>{{ glass.price|format_currency('USD') }}</td>
        </tr>
        <tr>
            <th>{{ 'app.glasses.description'|trans }}</th>
            <td>{{ glass.description }}</td>
        </tr>
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('app_glasses_index') }}">{{ 'app.glasses.back'|trans }}</a>
    {% if is_granted("ROLE_SELLER") %}
        <a class="btn btn-warning"
           href="{{ path('app_glasses_edit', {'id': glass.id}) }}">{{ 'app.glasses.edit'|trans }}</a>
        {{ include('glasses/_delete_form.html.twig') }}
    {% endif %}
    {% if is_granted("ROLE_BUYER") %}
        <a class="btn btn-primary"
           href="{{ path('app_order_new',{'id': glass.id}) }}">{{ 'app.order.create'|trans }}</a>
    {% endif %}
{% endblock %}
